RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^api/?$ api/index.php [L]
RewriteRule ^docs/?$ docs/index.php [L]
RewriteRule ^$ public/index.php [L]
